<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FitTrackApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splashscreen"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashscreen"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitTrack">
        <activity
            android:name=".ui.MainApp.Diet.AddFood.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.SignUpActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainApp.Home.MainActivity"
            android:exported="false" />
    </application>

</manifest>